@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: myBtnFont;
    src: url(../fonts/Raleway-Light.ttf);
}
body {
	margin: 0;
	background: url(../images/registerbackgrnd.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: Helvetica;
}
a {
	text-decoration: none;
}
#menu a:hover {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	padding-bottom: 4px;
	border-top-width: 3px;
	border-top-style: solid;
	padding-top: 4px;
	color: #FFF;
	text-decoration: none;
}
header {
	width: 100%;
	height: 80px;
	background-color: #000;
}
header a {
	color: #FFF;
}
#logo {
	border: 0;
	margin-top: 15px;
}
#menu {
	float: right;
	width: 410px;
	margin-top: 30px;
	font-size: 15px;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu li {
	display: inline-block;
	text-align: center;
	width: 89px;
}
#signUpDiv {
	width: 530px;
    height: auto;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-top: 280px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 3px double #FFFFFF;
}
#registerDiv, #viewVideoDiv, #commentDiv {
	font-family: 'myFirstFont';
    height: auto;
    padding-bottom: 10px;
    margin: 0 auto;
    border: none;
	text-align: center;
}
#registerDiv h1 {
	
}
#registerDiv {
	width: 530px;
	margin-top: 280px;
}
.form-group {
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}
.form-control {
	width: 350px;
	height: 46px;
	margin-top: 15px;
	margin-bottom: 5px;
	background-color: #e5e5e5;
	border: 1px solid #000;
    border-radius: 3px;
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
}
.form-control:focus, .form-control:hover {
	background-color: #FFF;
	border: 1px solid #71B5FF;
}
#registerBtn {
	width: 375px;
	height: 60px;
	position: relative;
	margin-top: 10px;
    background-color: #000;
	color: #FFF;
	border-radius: 3px;
	font-family: 'myBtnFont';
	font-size: 16px;
	border: 1px solid #000;
}
#registerBtn:hover {
	border: 1px solid #FFF;
}
#viewVideoDiv {
	margin-top: 100px;
	margin-bottom: 100px;
	padding-right: 60px;
	padding-bottom: 60px;
	padding-left: 60px;
	width: 730px;
	background-color: #FFFFFF;
	border-radius: 3px;
	border: solid 1px #C9C9CC;
}
#videoHeader {
	text-align: left;
	font-family: Helvetica;
}
#videoTitle {
	font-size: 22px;
	font-weight: bolder;
}
#tags {
	font-size: 14px;
	margin-top: -10px;
	margin-bottom: -30px;
}
video {
	width: 730px;
	height: 540px;
}
#videoInfo {
	font-family: Helvetica;
}
#viewsVotes {
	float: right;
	width: 190px;
	height: 25px;
	margin-top: -10px;
}
#viewsVotes h3 {
	font-size: 12px;
	margin-top: 6px;
	margin-left: 5px;
}
#videoInfo button {
	width: 13px;
	height: 20px;
	background-size: 100%;
	background-size: 13px 20px;
	padding: 0;
	border: none;
	cursor: pointer;
	margin-top: 2px;
}
button:focus {
	outline: none;
}
#views {
	width: 25px;
	height: 25px;
	float: left;
}
#viewsText {
	float: left;
	margin-right: 35px;
}
#likeBtn {
	background:url(../images/like.png) 100%;
	float: left;
}
#likeText {
	float: left;
	margin-right: 35px;
}
#dislikeBtn {
	background:url(../images/dislike.png) 100%;
	float: left;
}
#dislikeText {
	float: left;
}
#videoOwner {
	width: 300px;
	padding-top: 35px;
	margin-bottom: -10px;
	text-align: left;
	font-size: 16px;
}
#videoDescription {
	text-align: left;
	font-size: 14px;
}
#commentDiv {
	margin-top: 30px;
	margin-left: -60px;
	margin-bottom: -60px;
	background-color: #F6F7F8;
	width: 849px;
	height: auto;
	border: solid 1px #C9C9CC;
	font-family: Helvetica;
}
#userEmail {
	margin-left: 20px;
	color: #5569AC;
	text-align: left;
	font-weight: bolder;
}
#commentDate {
	font-size: 12px;
	margin-left: 20px;
	margin-top: -12px;
	text-align: left;
}
#comment {
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
	font-size: 15px;
}