<html>
	<body>
	{{if .currentuser}}
		{{template "loggedinheader.tmpl.html"}}
	{{else}}
		 {{template "header.tmpl.html"}}
	{{end}}
		<div id='browseDiv'>
			<h1>Browse</h1>
			<div id="trendingVideoDiv">
				<div class="trendingVideo">
					<div class="trendingVideoWrapper">
						<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					</div>
					<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					<p class="trendingVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
				<div class="trendingVideo">
					<div class="trendingVideoWrapper">
						<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					</div>
					<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					<p class="trendingVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
				<div class="trendingVideo">
					<div class="trendingVideoWrapper">
						<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					</div>
					<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					<p class="trendingVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
				<div class="trendingVideo">
					<div class="trendingVideoWrapper">
						<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					</div>
					<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					<p class="trendingVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
				<div class="trendingVideo">
					<div class="trendingVideoWrapper">
						<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					</div>
					<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					<p class="trendingVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
				<div class="trendingVideo">
					<div class="trendingVideoWrapper">
						<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>o>
					</div>
					<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					<p class="trendingVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
			</div>
		</div>
	</body>
</html>
