{{ define "header.tmpl.html"}}
{{template "head.tmpl.html"}}
<header>
	<a href="/">
		<img id="logo" src="static/images/ProjectPegasusLogo.png"/>
	</a>
		{{if .currentuser}}
	<ul id="menu">
		<li id="searchLink">
			<form method="get" action="/search" id="search">
				<input name="q" type="text" size="40" placeholder="Search..." />
			</form>
		</li>
		<li><a href="/viewVideo">test-video</a></li>
		<li><a href="/discover">discover</a></li>
		<li><a href="/logout">log out</a></li>
	</ul>
		{{else}}
	<ul id="menu">
		<li id="searchLink">
			<form method="get" action="/search" id="search">
				<input name="q" type="text" size="40" placeholder="Search..." />
			</form>
		</li>
		<li><a href="/viewVideo">test-video</a></li>
		<li><a href="/discover">discover</a></li>
		<li><a href="/login">log-in</a></li>
		<li><a href="/register">register</a></li>
	
	</ul>
		{{end}}
</header>
{{end}}