{{ define "header.tmpl.html"}}
{{template "head.tmpl.html"}}
<header>
	<a href="/">
		<img id="logo" src="static/images/ProjectPegasusLogo.png"/>
	</a>
		{{if .currentuser}}
	<ul id="menu">
		<li><a href="/viewVideo">test-video</a></li>
		<li><a href="/discover">discover</a></li>
		<li><a href="/search">search</a></li>
		<li><a href="/logout">log out</a><li>
	</ul>
		{{else}}
		<ul id="menu">
		<li><a href="/viewVideo">test-video</a></li>
		<li><a href="/discover">discover</a></li>
		<li><a href="/search">search</a></li>
		<li><a href="/login">log-in</a></li>
		<li><a href="/register">register</a></li>
	
	</ul>
		{{end}}
</header>
{{end}}