<html>
	{{if .currentuser}}
		{{template "loggedinheader.tmpl.html"}}
	{{else}}
		 {{template "header.tmpl.html"}}
	{{end}}
	<body>
		<img id="banner" src="static/images/homeBanner.jpg"/> 
		<p id="bannerText">View. Share. Vote.</p>
		<div id="homeDiv">
			<ul id="homeMenu">
				<li><a href="#">Trending</a></li>
				<li><a href="#">Recent</a></li>
			</ul>
			<div class="col-xs-12 col-sm-6 col-md-3">
            <ul>
                {{range .videos}}
	                <li><a href="/viewVideo{{.ID}}">{{.DisplayTitle}}</a></li>
                {{else}}
                <p>NO VIDEOS DUDE</p>
                {{end}}
                </ul>
			</div>
		</div>
	</body>
</html>