<html>
	{{if .currentuser}}
		{{template "loggedinheader.tmpl.html"}}
	{{else}}
		 {{template "header.tmpl.html"}}
	{{end}}
	<body>
		<img id="banner" src="static/images/homeBanner.jpg"/> 
		<p id="bannerText">View. Share. Vote.</p>
		<div id="homeDiv">
			<ul id="homeMenu">
<!--				<li><a href="#">Trending</a></li>-->
				<li><a href="#">Recent</a></li>
			</ul>
			<div id="trendingVideoDiv">

                {{range .videos}}
				<a href="/viewVideo{{.ID}}">
				<div class="trendingVideo">
					<div class="trendingVideoWrapper">
						<img class="trendingThumbnail" src="static/images/trendingThumbnail.png"/>
					</div>
					<a class="trendingVideoTitle">{{.DisplayTitle}}</a>
					<p class="trendingVideoTags"> <br /></p>
					
				</div>
				</a>
                {{else}}
                <p>NO VIDEOS DUDE</p>
                {{end}}
			</div>
		</div>
	</body>
</html>