<html>
	{{if .currentuser}}
		{{template "loggedinheader.tmpl.html"}}
	{{else}}
		 {{template "header.tmpl.html"}}
	{{end}}
	<body>
		<img id="banner" src="assets/images/homeBanner.jpg"/> 
		<p id="bannerText">View. Share. Vote.</p>
		<div id="homeDiv">
			<ul id="homeMenu">
				<li><a href="#">Trending</a></li>
				<li><a href="#">Recent</a></li>
			</ul>
			<div id="trendingVideoDiv">
				<div class="trendingVideo">
					<div class="trendingVideoWrapper">
						<video controls>
							<source src="assets/videos/samplevid.mp4" type="video/mp4">
						</video>
					</div>
					<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					<p class="trendingVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
				<div class="trendingVideo">
					<div class="trendingVideoWrapper">
						<video controls>
							<source src="assets/videos/samplevid.mp4" type="video/mp4">
						</video>
					</div>
					<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					<p class="trendingVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
				<div class="trendingVideo">
					<div class="trendingVideoWrapper">
						<video controls>
							<source src="assets/videos/samplevid.mp4" type="video/mp4">
						</video>
					</div>
					<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					<p class="trendingVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
				<div class="trendingVideo">
					<div class="trendingVideoWrapper">
						<video controls>
							<source src="assets/videos/samplevid.mp4" type="video/mp4">
						</video>
					</div>
					<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					<p class="trendingVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
			</div>
			<div id="recentVideoDiv">
				<div class="recentVideo">
					<div class="recentVideoWrapper">
						<video controls>
							<source src="assets/videos/samplevid.mp4" type="video/mp4">
						</video>
					</div>
					<a href="#" class="recentVideoTitle">Froggy Fresh - Christmas</a>
					<p class="recentVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
				<div class="recentVideo">
					<div class="recentVideoWrapper">
						<video controls>
							<source src="assets/videos/samplevid.mp4" type="video/mp4">
						</video>
					</div>
					<a href="#" class="recentVideoTitle">Froggy Fresh - Christmas</a>
					<p class="recentVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
				<div class="recentVideo">
					<div class="recentVideoWrapper">
						<video controls>
							<source src="assets/videos/samplevid.mp4" type="video/mp4">
						</video>
					</div>
					<a href="#" class="recentVideoTitle">Froggy Fresh - Christmas</a>
					<p class="recentVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
				<div class="recentVideo">
					<div class="recentVideoWrapper">
						<video controls>
							<source src="assets/videos/samplevid.mp4" type="video/mp4">
						</video>
					</div>
					<a href="#" class="recentVideoTitle">Froggy Fresh - Christmas</a>
					<p class="recentVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
			</div>
		</div>
	</body>
</html>
