<html>
	  {{template "header.tmpl.html"}}
	<body>
		<div id="registerDiv">
			<h1>sign in</h1>
			<form action="/login" method="POST">
				<div class="form-group">
					<input type="text" name="email" placeholder="email" id="newEmail" class="form-control" required>
				</div>
				<div class="form-group">
					<input type="password" name="password" placeholder="password" id="newPassword" class="form-control" required>
				</div>
				<input type="submit" value="register" id="registerBtn">
			</form>
		</div>
	</body>
</html>
