<html>
	{{if .currentuser}}
		{{template "loggedinheader.tmpl.html"}}
	{{else}}
		 {{template "header.tmpl.html"}}
	{{end}}
	<body>
		<div id='searchDiv'>
			<h1>Search Results:</h1>
			<div id="trendingVideoDiv">
				<div class="trendingVideo">
					<div class="trendingVideoWrapper">
						<img class="trendingThumbnail" src="static/images/trendingThumbnail.png"/>
					</div>
					<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					<p class="trendingVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
				<div class="trendingVideo">
					<div class="trendingVideoWrapper">
						<img class="trendingThumbnail" src="static/images/trendingThumbnail.png"/>
					</div>
					<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					<p class="trendingVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
				<div class="trendingVideo">
					<div class="trendingVideoWrapper">
						<img class="trendingThumbnail" src="static/images/trendingThumbnail.png"/>
					</div>
					<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					<p class="trendingVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
				<div class="trendingVideo">
					<div class="trendingVideoWrapper">
						<img class="trendingThumbnail" src="static/images/trendingThumbnail.png"/>
					</div>
					<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					<p class="trendingVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
				<div class="trendingVideo">
					<div class="trendingVideoWrapper">
						<img class="trendingThumbnail" src="static/images/trendingThumbnail.png"/>
					</div>
					<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					<p class="trendingVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
				<div class="trendingVideo">
					<div class="trendingVideoWrapper">
						<video controls>
							<source src="assets/videos/samplevid.mp4" type="video/mp4">
						</video>
					</div>
					<a href="#" class="trendingVideoTitle">Froggy Fresh - Christmas</a>
					<p class="trendingVideoTags">Tags: music video, froggy fresh, rap, christmas rap, music</p>
				</div>
			</div>
		</div>
	</body>
</html>
