<html>
	{{if .currentuser}}
		{{template "loggedinheader.tmpl.html"}}
	{{else}}
		 {{template "header.tmpl.html"}}
	{{end}}
	<body>
		<div id="uploadDiv">
			<form action="/upload" method="POST" enctype="multipart/form-data">
	        	<div class="form-group">
					<textarea name="title" id="title" class="form-control">{{.Video.Title}}</textarea>
				</div>
	            <div class="form-group">
	                <input type="checkbox" name="matureContent" id="matureContent">Mature Content </input>
	            </div>
				<div class="form-group">
					<input type="file" name="file" id="videoUpload" class="form-control">
				</div>
				<div class="form-group">
					<textarea name="description" id="description" class="form-control">{{.Video.Description}}</textarea>
				</div>
				<input type="submit" value="Upload" id="uploadBtn">
			</form>
		</div>
	</body>
</html>